[2021-01-14 07:49] YashKumarVerma opened #1 "module to handline oauth flow"
Write a module to do the following:

- handle incoming requests from client
- show them login page
- generate access-token
- redirect to redirect_uri
- validation all above points.

[2021-02-02 02:42] #1 closed

[2021-02-02 02:43] YashKumarVerma opened #9 "dockerize application"
Write a docker file to create a container image of the UniAuth Backend.

Make sure to
- Document the environment variables

[2021-02-02 02:45] YashKumarVerma opened #10 "deploy docs on Github pages"
Once the docs generator are set up in #11, we can deploy the same over Github pages so that new versions are automatically served.

[2021-02-02 02:51] YashKumarVerma opened #11 "setup docs generator"
refer [this project](https://github.com/yashkumarverma/rc-heimdall/blob/master/package.json) and set up compodoc

[2021-02-02 02:52] YashKumarVerma opened #12 "add docs about running project locally"
Add docs regarding how to run the project locally.
- It needs a MongoDB server
- User should install dependencies.
- User should run the dev script.

p.s. check package.json for more

[2021-02-02 04:19] harshil15999 commented on #12
assign to me
Also contribution guidelines have to be given for this
If possible set up SLACK channel

[2021-02-02 05:04] #12 closed

[2021-02-02 05:06] YashKumarVerma opened #14 "Add status badges in readme"
- Docker Image when #9 is fixed.
- Repository Details
- Code Quality Checks
- Coverage Checks

[2021-02-02 05:09] YashKumarVerma commented on #12
Thank you @harshil15999 for your interest. Since there were no instructions to run the application, i have added those. Please select any other issue. We'll be readily opening those.

Also checkout @mexili's winter of code repo for more projects.

[2021-02-03 04:22] YashKumarVerma opened #15 "allow the user to update profile details"
The profile page currently looks like this.

Make changes in the views (templates) and controller to allow users to update their profile details.
![image](https://user-images.githubusercontent.com/14032427/106698096-1d291280-6606-11eb-8f3f-c43574db8ccd.png)

Breakup: 25 points for frontend work, 25 points for backend work.

[2021-02-03 04:29] YashKumarVerma opened #16 "Show list of applications that have user's data"
Currently, the user can see only the number of applications that have got access to users data. We need to display the application along with the details that are shared with them.

![https://i.imgur.com/ykooi3c.png](https://i.imgur.com/ykooi3c.png)

Steps:
The controller has user data. Just get details of the mongoose subdocument, and render it

[2021-02-03 04:49] YashKumarVerma opened #17 "JS Error while creating new applicaiton"
While creating a new application in `/dashboard/dev`, there is a js error triggered which is :

![https://i.imgur.com/7CMojyO.png](https://i.imgur.com/7CMojyO.png)

This needs to be fixed.

[2021-02-03 04:52] YashKumarVerma opened #18 "Add favicon to site"
the dashboard does not have a favicon and does not look good.

![https://i.imgur.com/JHC9A4O.png](https://i.imgur.com/JHC9A4O.png)

[2021-02-03 05:02] YashKumarVerma opened #19 "create docker-compose to launch entire stack"
docker-compose can be used to launch the entire stack at once using a single command.

Create a docker-compose file to launch a mongodb server and uniauth-backend image.

[2021-02-03 05:06] YashKumarVerma opened #20 "Add `copy` feature in the application details"
The current interface does not allow the user to copy the text directly. This is a heavily demanded feature. This can be done by adding a small copy button in the text field itself, towards the right side.

![https://i.imgur.com/eKH2Ze5.png](https://i.imgur.com/eKH2Ze5.png)

The copy button can be something like :
![https://i.imgur.com/j39qbW0.png](https://i.imgur.com/j39qbW0.png)

[2021-02-03 05:10] DarthBenro008 commented on #19
Hey,
I would like to work on this 😄

[2021-02-03 05:13] #11 closed

[2021-02-03 05:13] YashKumarVerma commented on #11
Closing as package.json already includes compodoc commands.

[2021-02-03 09:32] Jassi10000 opened #21 "Registeration Number not getting accepted"
These are pics of  what am getting at localhost:5000 after registering my details

1.This first image is when localhost:5000 runs in normal tab
![image](https://user-images.githubusercontent.com/64856348/106723077-bf5bf100-662c-11eb-84e9-a1e633abda51.png)

2. The second image is of localhost:5000 in  Incognito mode as due to " 400 " , I thought maybe its due to cookies or cache  , but then also th

[2021-02-03 11:00] kdsinghcoder commented on #20
@YashKumarVerma  let me do this !!

[2021-02-03 11:05] YashKumarVerma commented on #20
Sure @kdsinghcoder !

[2021-02-03 11:07] YashKumarVerma commented on #21
alright, the thing is, to demonstrate that there can be variations in input fields, I have validations in the system.

Use any registration number of the format : [2 digit year][3 character code][4 digit number]
Something like 19BCE2669, 19MIT0001, 20BTC0010 etc.

This is the way registration numbers are there in my college, so I followed same.

[2021-02-03 11:13] Jassi10000 commented on #21
@YashKumarVerma Ohh !! that's why I got this

No issues , I'll just try with these examples
btw can I make this change in the readme as well so that other peeps who are first time visitors like me don't face this  same problem
May be I can do a contribution in this way

[2021-02-03 11:28] YashKumarVerma commented on #21
Sure @Jassi10000, please send a PR to update the docs.

[2021-02-03 11:29] Jassi10000 commented on #21
Thanks @YashKumarVerma for this opportunity , I'll do it right away

[2021-02-03 11:57] #21 closed

[2021-02-03 12:28] tanay13 commented on #16
@YashKumarVerma I tried setting this repo on my local machine but even after npm install the dependencies are not getting installed . Can you help me out with this why is this happening ?
<img width="773" alt="npmerr" src="https://user-images.githubusercontent.com/61361310/106747053-68184980-6649-11eb-82bd-fd1f3afc71fc.PNG">

[2021-02-03 12:33] YashKumarVerma commented on #16
@tanay13 first of all, thanks for showing interest.

Those are optional dependencies, and only `warnings`. Once the installation process completes, run `npm run start:dev`. If you face any issues, let me know.

[2021-02-03 12:43] YashKumarVerma opened #23 "Add password strength checker"
While creating an account, show the user if the password is weak. Use any well-known set of conditions like minimum length, a combination of upper case, lower case, etc.

[2021-02-03 12:48] tanay13 commented on #16
@YashKumarVerma I ran <code>npm run start:dev</code> this too but i am getting this error
<code>'nest' is not recognized as an internal or external command</code>

[2021-02-03 12:59] YashKumarVerma commented on #16
Alright I get it.  Nest is not there in the dependencies.

Can you please open up am issue for this?

[2021-02-03 13:01] tanay13 commented on #16
@YashKumarVerma  Ok fine . But when i cloned the original repo all the commands got executed successfully.

[2021-02-03 13:03] tanay13 opened #24 "nest is not there in the dependencies"
After executing <code>npm run start:dev </code> following error occurs .
<img width="564" alt="nest" src="https://user-images.githubusercontent.com/61361310/106750769-48cfeb00-664e-11eb-86c8-6f0fa8e5dedd.PNG">

[2021-02-03 13:25] YashKumarVerma commented on #24
can you fix this and send a PR @tanay13 ?

[2021-02-03 13:34] kdsinghcoder commented on #18
I am doing this

[2021-02-03 13:55] YashKumarVerma commented on #24
@tanay13 I launched a clean environment inside a container and did not face any issue as mentioned.

[2021-02-03 14:26] #18 closed

[2021-02-03 14:26] #20 closed

[2021-02-03 14:45] YashKumarVerma opened #26 "`/dashboard/dev` layout issues"
There have been some issues in the styling of this document.

![screencapture-localhost-5000-dashboard-dev-2021-02-03-20_13_47](https://user-images.githubusercontent.com/14032427/106763028-6c9a2d80-665c-11eb-9f1a-762dbbbd0aa2.png)

[2021-02-03 14:46] YashKumarVerma opened #27 "copy to clipboard not working"
![image](https://user-images.githubusercontent.com/14032427/106763286-abc87e80-665c-11eb-9b33-7f299f827174.png)

[2021-02-03 14:56] tanay13 commented on #24
@YashKumarVerma I don't know why but i am still getting that error

[2021-02-03 15:09] tanay13 commented on #24
@YashKumarVerma  It worked now i cloned it again and now its working fine

[2021-02-03 15:30] YashKumarVerma commented on #24
Cool. Looks like it was some local conflict. Closing for now.
If you face any issues, feel free to ping again.

[2021-02-03 15:30] #24 closed

[2021-02-03 16:32] tanay13 commented on #16
Please assign this to me

[2021-02-03 16:48] tanay13 commented on #16
@YashKumarVerma after creating 2 applications , I should see "2 application has access to your data " right??
<img width="818" alt="appl" src="https://user-images.githubusercontent.com/61361310/106779956-82641e80-666d-11eb-9216-ae48e2a2e588.PNG">
but i am getting this

<img width="469" alt="dash" src="https://user-images.githubusercontent.com/61361310/106780158-b9d2cb00-666d-11eb-90cc-c157dc23b87c

[2021-02-03 17:03] kdsinghcoder commented on #27
@YashKumarVerma  assign this to me.

[2021-02-03 17:29] YashKumarVerma commented on #16
Actually No. Developers create applications for their projects. In your cases, their names as `xyz` and `NodeJS`.

Now note that these two applications don't have access to any user's data.

Applications will get access to any user's data when they authorize them. i.e. User logs into them.

## How to move ahead with this
- Clone this repository. Take any example from this.
- Replace clientID, clie

[2021-02-03 17:46] tanay13 commented on #16
@YashKumarVerma Thanks it cleared a lot of things

[2021-02-03 17:55] kdsinghcoder opened #29 "Automatically reload the page once Application gets created successfully"
![image](https://user-images.githubusercontent.com/50829119/106788071-821c5100-6676-11eb-8582-623f610c145b.png)

After clicking on Create Application Button, I had to manually reload the page so as to check whether my application is added or not.

[2021-02-03 18:27] kdsinghcoder opened #31 "Scroll down to new application form after clicking New application Button."
![image](https://user-images.githubusercontent.com/50829119/106791414-e2ad8d00-667a-11eb-83e1-29eb36b14d2b.png)

After creating 4 applications, When a click New Application Button he/she don't see a form right in front, nor any changes in the front end seems to happen.

So create a scroll down feature which when clicked takes the user to the New application form.

![image](https://user-images.gith

[2021-02-03 18:39] #26 closed

[2021-02-03 18:41] kdsinghcoder opened #32 "Add delete application feature to dashboard"
![image](https://user-images.githubusercontent.com/50829119/106792891-bd218300-667c-11eb-87a1-79c53d2768f8.png)

add a red color delete or remove icon on the right side of the application card so as to remove or delete that application.

![image](https://user-images.githubusercontent.com/50829119/106793434-7aac7600-667d-11eb-96bb-a2affcdd4ecb.png)

[2021-02-03 18:41] YashKumarVerma commented on #29
closing in favor of #17

[2021-02-03 18:41] #29 closed

[2021-02-03 18:42] #27 closed

[2021-02-04 02:40] #31 closed

[2021-02-04 20:02] Jassi10000 commented on #16
Bro actually this is a common problem due to new version of  "npm" out in the market
@tanay13   bro try this in  terminal

# npm install -g npm@7.5.2

### This is newest version published 3 days ago

after that do

# npm run start:dev
as asked by @YashKumarVerma

Make sure you have running MongoDb instance running parallely in other terminal , its the best way to run an application with Nest.js us

[2021-02-05 08:17] Jassi10000 opened #34 "Regarding the auto-refresh"
![image](https://user-images.githubusercontent.com/64856348/107007314-5d2ff700-67b8-11eb-829b-8f7944bb8392.png)

After I click on " Create Application " , it's not auto - refreshing

I have to manually do that  to get this :

![image](https://user-images.githubusercontent.com/64856348/107007423-86e91e00-67b8-11eb-9c74-1bc6305423d7.png)

[2021-02-07 14:13] tanay13 commented on #16
@YashKumarVerma can you assign this to me?

[2021-02-07 21:03] YashKumarVerma commented on #34
Thank you for raising this issue, this is already listed under #17, therefore closing.

[2021-02-07 21:03] #34 closed

[2021-02-09 06:47] #10 closed

[2021-02-09 07:40] shubhamji88 commented on #14
i would like to work on this issue

[2021-02-09 07:45] kdsinghcoder commented on #23
@YashKumarVerma, please assign this to me.

[2021-02-09 07:48] shubhamji88 commented on #9
i would like to work on this issue

[2021-02-09 09:43] tanay13 commented on #16
@YashKumarVerma  How can i include clientId and client Secret provided by uniauth in my app , because in case of google auth we do something like this
<code>
passport.use(new GoogleStrategy({
    clientID:     "XYZ",
    clientSecret: "XYX",
    callbackURL: "XYZ.com",
    passReqToCallback   : true
  },
</code>

How to do this with uniauth?

[2021-02-09 10:38] YashKumarVerma commented on #16
Please check https://github.com/UniAuth/example-nodejs/blob/master/simple-javascript/app.js

[2021-02-09 11:01] tanay13 commented on #16
@YashKumarVerma  got it .. thanks

[2021-02-09 11:03] Jassi10000 commented on #32
@YashKumarVerma Can you please assign me this , I want to give it a nice try

[2021-02-09 11:35] YashKumarVerma commented on #32
As far as I know, @kdsinghcoder  is working on it.

[2021-02-09 12:46] Jassi10000 commented on #32
@kdsinghcoder  Actually I think then the English he wrote is wrong as he has written
" Add a delete of remove Button on My application Card  "

which clearly says that he's expecting someone to work on the issue ,
Plss can you ask @kdsinghcoder  to correct the English of issue heading so that someone else also doesn't gets confused

[2021-02-09 14:28] kdsinghcoder opened #37 "Add View password feature to the Input tag"
![image](https://user-images.githubusercontent.com/50829119/107371476-5253ca00-6b0a-11eb-9b00-8efc045cf696.png)

![image](https://user-images.githubusercontent.com/50829119/107371510-5e3f8c00-6b0a-11eb-9756-096dc8cc3aca.png)

[2021-02-09 14:29] kdsinghcoder commented on #37
@YashKumarVerma  assign this to me if this issue is valid.

[2021-02-09 19:27] #16 closed

[2021-02-09 19:35] #23 closed

[2021-02-09 19:40] YashKumarVerma commented on #37
since this issue is fixed in a different PR, please send a PR updating the readme with this feature.

[2021-02-09 19:58] YashKumarVerma opened #39 "tests: write tests for user controller"
tests files are named as `*.spec.ts` files.

Checkout such files for controllers for more reference.

[2021-02-09 19:58] YashKumarVerma opened #40 "tests: write tests for dashboard controller"
tests files are named as `*.spec.ts` files.

Checkout such files for controllers for more reference.

[2021-02-09 19:58] YashKumarVerma opened #41 "tests: write tests for application controller"
tests files are named as `*.spec.ts` files.

Checkout such files for controllers for more reference.

[2021-02-09 19:58] YashKumarVerma opened #42 "tests: write tests for account controller"
tests files are named as `*.spec.ts` files.

Checkout such files for controllers for more reference.

[2021-02-09 20:10] Jassi10000 commented on #19
I want to try this one out , assign me this under MWOC  @YashKumarVerma
One more thing , I hope it doesn't require a Linux machine

[2021-02-10 02:36] YashKumarVerma commented on #19
No it does not require.

[2021-02-10 05:03] YashKumarVerma opened #43 "Setup E-Mail Module"
To successfully complete this task, do the following.

1. create a new module named mailing (see nest modules)
2. use any mailing service which provides reasonable resources for free.
3. add the following methods in the mailer service.
    - function to send email, must accept `toEmail` and `emailBody`.

[2021-02-10 05:10] YashKumarVerma opened #44 "Implement password reset"
when #43 is done, we need to use that module to send emails when the user requests to reset their password.

This MUST:
- send email to user's verified email
- the email must contain a uniquely generated password reset link.
- the above-generated link should be saved in `user` mongoose model.
- the password reset link must expire after a said time (jwt's can be used for this  or timestamp can be s

[2021-02-10 05:19] YashKumarVerma opened #45 "Allow forks to customize application from single file"
When users fork UniAuth to implement the system for their organization, currently they need to edit the names of the application in numerous files which is a tedious and boring process.

To fix the above problem, we can load all such details (application name, description, etc) from a particular file (configs are best for this, checkout the config folder and how the `config.get` method works in th

[2021-02-10 07:23] kdsinghcoder commented on #32
@YashKumarVerma  assign this to @Jassi10000 veer.

I was trying this but faced some issues.

[2021-02-10 08:30] MASTERCHIEF011 commented on #44
pls assign this to me

[2021-02-10 12:10] tanay13 commented on #43
@YashKumarVerma  please assign this to me

[2021-02-10 12:10] #37 closed

[2021-02-10 13:38] MASTERCHIEF011 commented on #43
I was implementing the reset password issue and have integrated this into the same

[2021-02-10 14:46] tanay13 commented on #15
@YashKumarVerma I want to work on this

[2021-02-10 15:32] kdsinghcoder commented on #17
@YashKumarVerma  assign this to me

[2021-02-10 18:30] YashKumarVerma commented on #17
also @kdsinghcoder , if you have not joined our discord server, please do. find the link on https://mexili.github.io/winter_of_code/#/

[2021-02-10 18:31] YashKumarVerma commented on #15
Feel free to reach out if you need help while implementing.

Also, if you are not already part of the discord server, please find the link here: https://mexili.github.io/winter_of_code/#/

[2021-02-11 08:53] tanay13 commented on #15
@YashKumarVerma  can you tell me what is the use of <code>updateUserDto</code> in the PUT route ?

[2021-02-11 09:37] tanay13 commented on #15
@YashKumarVerma For submitting the update form we have to use <code>method-override</code> right??

[2021-02-11 16:20] YashKumarVerma commented on #15
@tanay13 , yes you wound need to define a controller that responds to `@Post`.

You can take reference form
- https://github.com/UniAuth/uniauth-backend/blob/master/src/account/account.controller.ts#L50-L89
or
- https://github.com/lujakob/nestjs-realworld-example-app/blob/master/src/user/user.controller.ts

[2021-02-11 16:24] tanay13 commented on #15
@YashKumarVerma for updating purpose we have to use <code>@PUT</code> right??

[2021-02-11 16:47] YashKumarVerma commented on #15
yeah sure.
it depends on how you are implementing the profile update feature. If you are using a traditional HTML form, then it can send data only as `GET` or `POST`. However if you are sending data via fetch/ajax request, then it can be a put request.

[2021-02-12 05:24] tanay13 commented on #15
@YashKumarVerma  The user profile is getting updated but i am unable to redirect the user to the profile page from the form.
<code>
  @Put('/:id')
  @UseGuards(JwtAuthGuard)
  async update(@Param('id') id: string, @Body() updateUserDto: UpdateUserDto,@Res() res) {
    const user = await this.userService.update(id, updateUserDto);
    return res.redirect('http://localhost:5000/dashboard/profile')

[2021-02-12 05:35] YashKumarVerma commented on #15
Great work.

A small suggestion, it's not a good practice to redirect to absolute links (the complete URL). We could do the following.

To load and render the user profile, you can directly call the function in the controller. For example, if the following function readers the profile of the user (https://github.com/UniAuth/uniauth-backend/blob/master/src/dashboard/dashboard.controller.ts#L41-L45)

[2021-02-12 06:52] kdsinghcoder commented on #9
@YashKumarVerma  assign this to me if you can

[2021-02-12 07:48] Jassi10000 commented on #32
@YashKumarVerma The delete button will delete the application user has created , right?

[2021-02-12 08:54] YashKumarVerma commented on #32
this would reside in the `application` module (folder is `src/application`).

You'd need to create a controller in `application.controller.ts` which calls a function from `application.service.ts`

[2021-02-12 08:55] YashKumarVerma commented on #9
@shubhamji88 are you working on it? Can you share your approach or work till now ?

[2021-02-12 09:45] tanay13 commented on #15
@YashKumarVerma  even after doing the same the page is not being redirected
<code>
 @Put('/:id')
  @UseGuards(JwtAuthGuard)
  async update(@Param('id') id: string, @Body() updateUserDto: UpdateUserDto,@Res() res,@Request() req) {
    const user = await this.userService.update(id, updateUserDto);
    return this.DashboardController.showProfile(req,res)
  }
</code>

[2021-02-12 09:49] YashKumarVerma commented on #15
@tanay13 can you send a PR for this? I'll tag it as WIP (work in progress), then I can help you out in the code as well.

[2021-02-12 09:49] tanay13 commented on #15
@YashKumarVerma sure

[2021-02-12 19:19] shubhamji88 commented on #9
assign it to karan, i am having some difficulties..

[2021-02-12 19:25] YashKumarVerma commented on #9
no problem.
if you are interested in a similar task, you can try out #19

[2021-02-13 05:58] YashKumarVerma opened #51 "Password restrictions not accepting valid password"
Code : https://gist.github.com/dcc4157b058a560a5fa6545816fe0b5d

![image](https://user-images.githubusercontent.com/14032427/107843138-98e94300-6dee-11eb-97dc-b8eb68641da5.png)

[2021-02-13 06:45] kdsinghcoder commented on #51
I'm working on it

[2021-02-13 07:06] #17 closed

[2021-02-13 07:07] YashKumarVerma commented on #32
@Jassi10000 can you send a PR with the work that you have done till now?
This way we can help you better.

[2021-02-14 09:20] Jassi10000 commented on #19
@YashKumarVerma sir I have tried to run the docker command after making changes, and its again and again prompting me to install some WSL and restart , without it , the command is not running

[2021-02-15 03:37] MASTERCHIEF011 opened #54 "Reset password form does not check whether the password entries are equal or not."
Reset password form does not check whether the password entries are equal or not

[2021-02-15 03:37] MASTERCHIEF011 commented on #54
pls assign this to me.

[2021-02-15 03:39] MASTERCHIEF011 opened #55 "Reset Password field does not mask the entered Password!"
![image](https://user-images.githubusercontent.com/54094722/107902815-877a7500-6f6d-11eb-8c31-7c916e660b8f.png)

[2021-02-15 03:40] MASTERCHIEF011 commented on #55
Pls assign this to me.

[2021-02-15 03:42] MASTERCHIEF011 opened #56 "Email is not being verified on registration."
Upon registration the user is not being sent an E-Mail Verification link.

[2021-02-15 03:42] MASTERCHIEF011 commented on #56
pls assign this to me

[2021-02-15 04:23] #43 closed

[2021-02-15 04:28] #44 closed

[2021-02-15 06:15] kdsinghcoder commented on #14
I will fix this after #9

[2021-02-15 15:34] MASTERCHIEF011 commented on #45
pls assign this to me

[2021-02-15 15:51] #56 closed

[2021-02-15 16:30] #15 closed

[2021-02-15 17:41] kdsinghcoder commented on #45
@YashKumarVerma  assign this to me

[2021-02-15 18:51] tanay13 commented on #40
@YashKumarVerma please assign this to me

[2021-02-16 04:50] YashKumarVerma commented on #40
I have set up tests for user controller, will merge it soon. You can take references from there .

[2021-02-16 04:55] YashKumarVerma commented on #45
Since @MASTERCHIEF011 is assigned issues in the flask-middleware, assigning this to @kdsinghcoder

[2021-02-16 04:56] YashKumarVerma commented on #54
Please fill the issue body properly.

[2021-02-16 05:17] YashKumarVerma opened #62 "Remove travic-ci badge from readme"
Remove the badge as we are using GitHub actions only.

Also, no need to get it assigned, directly send PR.

[2021-02-16 05:42] YashKumarVerma commented on #39
This has been resolved in setting up the tests.
![image](https://user-images.githubusercontent.com/14032427/108023082-d8f73280-7047-11eb-8a50-5c3bd753cc9e.png)

[2021-02-16 05:45] #39 closed

[2021-02-16 05:46] YashKumarVerma commented on #40
@tanay13 please check #39 for reference. I have written tests for user controller.

[2021-02-16 05:51] YashKumarVerma opened #63 "Setup pre-commit hook to lint and format"
Since the number of contributions is increasing by the day, some problems are starting to arise.

The reason is that different people have different writing styles and this is harmful to the project lifecycle.

Read up this post: https://elijahmanor.com/blog/npm-precommit-scripts

Attach the following commands:
- yarn format
- yarn lint

[2021-02-16 05:53] kdsinghcoder commented on #62
@YashKumarVerma  assign this to me

[2021-02-16 05:55] YashKumarVerma opened #64 "tests: write tests for account service"
We have already set up tests for user service.

Take it as a reference, and write tests for accounts service.

Also, please attach screenshots of tests passing when sending PRs.

[2021-02-16 05:55] YashKumarVerma opened #65 "tests: write tests for mailer service"
We have already set up tests for user service.

Take it as a reference, and write tests for mailer service.

Also, please attach screenshots of tests passing when sending PRs.

[2021-02-16 05:55] YashKumarVerma opened #66 "tests: write tests for application service"
We have already set up tests for user service.

Take it as a reference, and write tests for application service.

Also, please attach screenshots of tests passing when sending PRs.

[2021-02-16 05:56] YashKumarVerma opened #67 "tests: write tests for dashboard service"
We have already set up tests for user service.

Take it as a reference, and write tests for dashboard service.

Also, please attach screenshots of tests passing when sending PRs.

[2021-02-16 05:56] YashKumarVerma opened #68 "tests: write tests for auth service"
We have already set up tests for user service.

Take it as a reference, and write tests for auth service.

Also, please attach screenshots of tests passing when sending PRs.

[2021-02-16 06:01] YashKumarVerma opened #69 "Migrate user operation to Dashboard"
Since profile update comes under the dashboard, move it to the dashboard.controller.ts file.

The function in dashboard.controller.ts should use the user service.

https://github.com/UniAuth/uniauth-backend/blob/591c0553288e45dfd46cacd5f1d622c68f281560/src/user/user.controller.ts#L69-L91

[2021-02-16 06:03] kdsinghcoder commented on #69
Assign this to me @YashKumarVerma

[2021-02-16 06:03] MASTERCHIEF011 commented on #69
pls assign this to me

[2021-02-16 06:04] YashKumarVerma opened #70 "Fix all linting issues"
Right now, there are about 24 linting issues in the project.

run
- `yarn lint` to list all issues
- fix them.

[2021-02-16 06:08] YashKumarVerma opened #71 "Remove unused controller functions from user module"
Ideally, the user module should provide only `service` to operate on **users**, and the **dashboard** module should perform operations using that service.

Remove the methods from user.controller.ts

[2021-02-16 06:22] MASTERCHIEF011 opened #72 "Server crashing on loading landing page!"

[2021-02-16 07:44] tanay13 commented on #40
<img width="372" alt="routeuser" src="https://user-images.githubusercontent.com/61361310/108032154-09df6380-7058-11eb-929a-2a9e5d692d71.PNG">
@YashKumarVerma  How the edit functionality is still working when it has been commented out ?

[2021-02-16 08:49] kdsinghcoder commented on #70
I can do this

[2021-02-16 16:15] tanay13 commented on #40
[code]
In this ( and all other functions as well ) why we aren't checking whether the user has been created or not ?

[2021-02-16 18:28] #62 closed

[2021-02-16 18:30] YashKumarVerma commented on #72
please add a description of the problem, the errors that you see.

[2021-02-16 18:34] YashKumarVerma commented on #40
that can (and should) be done. I have just setup the dependencies and overall framework to write tests. The remaining would be done by the community.

[2021-02-17 05:40] tanay13 commented on #40
@YashKumarVerma  i had one doubt
[code]
instead of returning true for all mock functions we have to write the actual function inside the jest.fn() right??

[2021-02-17 06:37] MASTERCHIEF011 opened #81 "Request-Password-Reset page is not sending email."
The post request was not receiving any form data due to the absence of name label in input tag.

[2021-02-17 11:35] YashKumarVerma commented on #81
please fill in the issue body with the problem / issue / bug details.

[2021-02-17 11:37] #55 closed

[2021-02-17 11:44] #54 closed

[2021-02-17 13:02] #81 closed

[2021-02-17 15:49] tanay13 commented on #67
@YashKumarVerma  Please assign this to me

[2021-02-17 18:21] YashKumarVerma commented on #67
Sure @tanay13.
Also for further work, don't wait for me to assign you. Simply comment that you're working on it, tag me, and I'll assign you when I come online.

[2021-02-17 19:08] #40 closed

[2021-02-17 19:10] tanay13 commented on #67
@YashKumarVerma unlike user service, dashboard service is just returning simple text as we are not using those anywhere so what should I write for testing?

[2021-02-17 19:51] YashKumarVerma commented on #67
Just ensure that it is defined.

[2021-02-18 03:48] YashKumarVerma commented on #72
![image](https://user-images.githubusercontent.com/14032427/108302585-4501a400-71ca-11eb-9a8d-ee55021a8e25.png)

I faced no issues in running the server.
Could you confirm @MASTERCHIEF011

[2021-02-18 03:50] YashKumarVerma opened #86 "Application Layout broken"
All applications should have a different card.
![image](https://user-images.githubusercontent.com/14032427/108302762-a6c20e00-71ca-11eb-8cef-c64a15547961.png)
![image](https://user-images.githubusercontent.com/14032427/108302780-b2add000-71ca-11eb-9690-17d673e92163.png)

[2021-02-18 04:28] MASTERCHIEF011 commented on #72
Try visiting the landing page:
Here is a snapshot:
![image](https://user-images.githubusercontent.com/54094722/108305352-cb6cb480-71cf-11eb-83ef-6ff0425482c0.png)

[2021-02-18 05:08] tanay13 commented on #68
@YashKumarVerma I am working on this

[2021-02-18 09:59] #67 closed

[2021-02-18 15:47] MASTERCHIEF011 commented on #32
can u pls assign this to me

[2021-02-18 16:31] #65 closed

[2021-02-18 17:54] #64 closed

[2021-02-18 17:56] #66 closed

[2021-02-18 17:59] #42 closed

[2021-02-18 18:00] #68 closed

[2021-02-18 18:06] YashKumarVerma opened #94 "Update readme about Mailing API"
add steps in the readme to get API key from SendGrid (or link a suitable tutorial) and where to put it to enable mailing service in the application.

[2021-02-18 18:07] #41 closed

[2021-02-18 18:08] MASTERCHIEF011 commented on #94
assign this to me pls.

[2021-02-18 18:09] tanay13 commented on #68
@YashKumarVerma Wasn't this assigned to me??

[2021-02-18 18:16] YashKumarVerma commented on #68
really sorry @tanay13  I did not check while merging as the PR was apt to be merged.

@MASTERCHIEF011 please avoid sending PR when it is assigned to someone else.

There are few unused variables in this file, could you fix those?
![image](https://user-images.githubusercontent.com/14032427/108402411-7b2f3a00-7243-11eb-9efa-069ed308e614.png)

yellow lines are variables not being used.

[2021-02-18 18:19] tanay13 commented on #68
@YashKumarVerma No problem

[2021-02-18 18:39] #94 closed

[2021-02-18 18:43] YashKumarVerma opened #96 "Fix user.service unit tests"
https://github.com/UniAuth/uniauth-backend/blob/1ba38d80f4100679c6c129c51c392ca3490e3d79/src/user/user.service.spec.ts#L12-L18

![image](https://user-images.githubusercontent.com/14032427/108405527-2ee5f900-7247-11eb-96dc-15885db8cbd8.png)

[2021-02-18 18:45] tanay13 commented on #96
@YashKumarVerma I am working on this

[2021-02-18 19:00] YashKumarVerma opened #97 "Project CleanUp alert"
On the following timestamp, we would unassign developers from few issues and close pull requests.

# Feb 22 (Monday), 10:00 AM IST 💀

## Reasons:
- To eliminate the deadlock as some issues are assigned and not showing any progress for large periods of time.
- To allow other developers try those issues.
- To ease merging / reviewing pull requests.

## Which issues will be reassigned?
- Only selecte

[2021-02-18 19:02] YashKumarVerma commented on #97
Pinging for visibility.

@MASTERCHIEF011 @tanay13 @kdsinghcoder @Jassi10000

[2021-02-18 19:15] Jassi10000 commented on #97
Actually sir, am new to typescript , that's why getting some problems along the way , not able to relate how to relate the problem

[2021-02-18 19:20] YashKumarVerma commented on #97
No issues, if there's some issue you are working on, open a pr for it (it's called a WIP : work in progress PR) and we can help you fix the issue then.

[2021-02-18 19:55] #96 closed

[2021-02-19 04:43] kdsinghcoder commented on #86
@YashKumarVerma  assign this to me.

[2021-02-19 04:44] kdsinghcoder commented on #71
@YashKumarVerma  if it's not assigned I can do this.

[2021-02-19 07:10] MASTERCHIEF011 opened #100 ""Add application" feature not working. Gives Error!"
Screen Shot of the Error
![image](https://user-images.githubusercontent.com/54094722/108470240-a9e2fa00-72af-11eb-9ee7-2cff39c88dbb.png)

[2021-02-19 07:10] MASTERCHIEF011 commented on #100
pls assign this to me

[2021-02-19 08:02] Jassi10000 commented on #97
Sure I will do that

[2021-02-19 08:43] YashKumarVerma commented on #100
what is the server response, what does the console.log tray show ?

[2021-02-19 08:45] YashKumarVerma commented on #71
Sorry but @fleventy-5 is currently assigned on this.

[2021-02-19 08:48] YashKumarVerma commented on #72
@tanay13 @Jassi10000
is the current master branch working for you? Are you also facing issues in running?

From what I can see, @MASTERCHIEF011 and @kdsinghcoder are running on windows systems and facing issues. I am running on linux based system and not facing.

[2021-02-19 09:50] Jassi10000 commented on #72
@YashKumarVerma
![app1](https://user-images.githubusercontent.com/64856348/108487691-8aef6280-72c5-11eb-8a25-39a999839e03.PNG)

Its' working fine in windows too
Maybe @MASTERCHIEF011 has not started the mongoDb instance
@MASTERCHIEF011 bro just restart the machine once and run the application and mongoDb instance from fresh , and you are good to go
Actually it happened with me also before , so not

[2021-02-19 09:54] tanay13 commented on #72
@YashKumarVerma Its working fine for me as well, but when I merged the original repo master branch with my forked branch I saw that the update controller has been commented out but still I am able to update my profile . How is this happening?

[2021-02-19 10:07] tanay13 commented on #72
@YashKumarVerma The landing page loaded when i ran it using my forked repo but when i ran the server from the original repo its not working .

[2021-02-19 11:03] MASTERCHIEF011 commented on #72
@Jassi10000 Bro I think its not the mongo db instance. Can you please fork the UniAuth master branch again and run the server. And pls  visit the landing page to see if the server crashes or not.

[2021-02-19 12:28] YashKumarVerma commented on #72
I have also experienced this.

Also, this has nothing to do with mongodb.

[2021-02-19 13:58] tanay13 commented on #72
@YashKumarVerma Any idea why this is  happening ?

[2021-02-19 14:01] MASTERCHIEF011 commented on #72
@tanay13 for now you can configure the directory as
app.useStaticAssets(join(__dirname, '..', '../public'));
app.setBaseViewsDir(join(__dirname, '..', '../views'));
instead of
app.useStaticAssets(join(__dirname, '..', 'public'));
app.setBaseViewsDir(join(__dirname, '..', 'views'));

[2021-02-19 14:06] YashKumarVerma commented on #72
I will investigate more into this, but **as of now** the PR sent by @MASTERCHIEF011 fixes this.

[2021-02-19 14:22] tanay13 commented on #72
@YashKumarVerma What about the update function ?

[2021-02-19 17:50] YashKumarVerma commented on #72
I am not sure why this is happening. Could you delete ur fork and make a fresh one ?

[2021-02-19 17:52] #72 closed

[2021-02-19 18:27] MASTERCHIEF011 opened #102 "Reset Password accepts passwords of length less than 6 while user login does not allow input of less than 6 to be accepted."
Screen Shot of the issue
![image](https://user-images.githubusercontent.com/54094722/108546021-8d29df00-730e-11eb-80fc-8dc69f9d8db9.png)

[2021-02-19 18:42] MASTERCHIEF011 commented on #102
pls assign this to me.

[2021-02-19 19:15] MASTERCHIEF011 commented on #63
pls assign this to me.

[2021-02-20 05:07] #102 closed

[2021-02-21 10:19] YashKumarVerma opened #106 "display list of users logged into application"
currently, application creators cannot see the statistics of their application or view reports.

Do the following.
- [ ] open new page by clicking on the "details" button on the application card.
- [ ] Display names of people who have logged into the application.

## Method of submission, one PR for each of the following.
- [ ] Forntend Interface to list details
- [ ] Backend logic to list user na

[2021-02-21 10:22] MASTERCHIEF011 commented on #106
pls assign this to me

[2021-02-21 10:23] YashKumarVerma commented on #106
@MASTERCHIEF011 please specify which one? I'll be assigning one to each

[2021-02-21 10:24] MASTERCHIEF011 commented on #106
can i do both?

[2021-02-21 10:34] YashKumarVerma opened #107 "use partials in views to avoid code duplication"
right now, some components are being written in every view, like navbar.

To avoid this, partials can be used. Implement the same.

[2021-02-21 10:35] MASTERCHIEF011 commented on #107
assign this to me pls

[2021-02-21 10:37] kdsinghcoder commented on #107
I can do this, I have experience with partials

[2021-02-21 10:42] YashKumarVerma commented on #107
you're already assigned in #106, feel free to claim other tasks once that is complete.

[2021-02-21 11:00] #32 closed

[2021-02-21 13:22] tanay13 commented on #106
@YashKumarVerma Can I do the backend part if it is not assigned to anyone .

[2021-02-22 02:40] YashKumarVerma commented on #106
no.

[2021-02-22 03:51] tanay13 commented on #106
@YashKumarVerma It is showing <code>Error while creating application </code> when creating new application

[2021-02-22 04:01] tanay13 opened #108 "Number of application having user access is wrong"
<img width="473" alt="uniauth21" src="https://user-images.githubusercontent.com/61361310/108658666-8a86df80-74f0-11eb-923f-c9fd13489a3e.PNG">
Even though I deleted both the application it is still showing the number of application having my access as 2 .

[2021-02-23 03:37] #9 closed

[2021-02-23 03:37] #51 closed

[2021-02-23 03:41] YashKumarVerma commented on #14
this issue is open to be claimed.

[2021-02-23 03:43] YashKumarVerma commented on #45
this issue is open to be assigned.

[2021-02-23 03:43] YashKumarVerma commented on #100
Closing due to inavtivity.

[2021-02-23 03:43] #100 closed

[2021-02-23 03:45] YashKumarVerma commented on #108
alright, this is because when deleting an application, the user model still has `objectId` of the application stored.

To fix this, when deleting an application, remove ObjectId of that application from all users.

[2021-02-23 03:46] YashKumarVerma commented on #107
The issue is open to be claimed.

[2021-02-23 03:47] YashKumarVerma commented on #86
This issue is open to be claimed.

[2021-02-23 03:49] MASTERCHIEF011 commented on #14
pls assign this to me

[2021-02-23 04:29] YashKumarVerma opened #112 "Error in docker build"
when running `docker build -t some name .` the build shows errors. These need to be fixed.

![image](https://user-images.githubusercontent.com/14032427/108802233-d2276d00-75bd-11eb-828c-22cc30bc761d.png)

[2021-02-23 06:05] kdsinghcoder commented on #112
@YashKumarVerma I can fix this once I am done with Partials

[2021-02-23 09:34] kdsinghcoder commented on #45
@YashKumarVerma I am working on this.

[2021-02-23 18:32] kdsinghcoder commented on #71
@YashKumarVerma if it's free, Assign this to me.

[2021-02-23 19:47] kdsinghcoder opened #117 "Validation error in creating new application is not shown to the user."
![image](https://user-images.githubusercontent.com/50829119/108898799-ab108000-763d-11eb-8cda-cea0c8a4867d.png)

![image](https://user-images.githubusercontent.com/50829119/108898951-d98e5b00-763d-11eb-8e33-d4ddc0f885a1.png)

The error must me is shown to the user.

[2021-02-23 19:48] kdsinghcoder commented on #117
@YashKumarVerma If this issue gets approved, please assign it to me

[2021-02-24 15:01] tanay13 commented on #108
I am working on this

[2021-02-24 17:28] MASTERCHIEF011 commented on #106
@YashKumarVerma  pls checkout out my pr for this

[2021-02-24 19:14] #97 closed

[2021-02-24 19:16] kdsinghcoder commented on #63
@YashKumarVerma  assign this to me

[2021-02-25 02:52] #63 closed

[2021-02-25 02:59] #86 closed

[2021-02-25 03:47] YashKumarVerma opened #119 "Deploy on Heroku"
Add a deploy to heroku button for the backend

https://devcenter.heroku.com/articles/heroku-button

[2021-02-25 04:23] YashKumarVerma opened #120 "Integrate CodeCov Coverage Checks"
codecov can be used to effectively check the code coverage on a pull requests and commits.

Some configurations need to be done to integrate it to monitor GitHub actions and generate reports.

you can read up more about sample implementation here:https://docs.codecov.io/docs/supported-languages

https://github.com/codecov/codecov-action

## Note
- we are using JEST
- we are using github actions

[2021-02-25 06:11] kdsinghcoder commented on #119
@YashKumarVerma  assign this to me

[2021-02-25 08:03] MASTERCHIEF011 commented on #119
pls assign this to me.

[2021-02-25 08:05] MASTERCHIEF011 commented on #112
pls assign this to me

[2021-02-26 02:23] MASTERCHIEF011 commented on #120
pls assign this to me

[2021-02-26 15:25] MASTERCHIEF011 opened #124 "Error while creating new application!"
**Describe the bug**
On Creating the application an error alert pops up .
**To Reproduce**
Steps to reproduce the behavior:
1. Login to your UniAuth account
2. Click on Dev
3. Click on create application
4. Submit the details and see the error
**Expected behavior**
Application should be created and user must be redirected to Dev

**Screenshots**

![image](https://user-images.githubusercontent.com/

[2021-02-26 18:15] MASTERCHIEF011 opened #127 "Reset password and Request password reset forms redirect to wrong url on submission!"
**Describe the bug**
On submission reset password and request password rest pages redirect to wrong url.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:5000/account/login'
2. Click on 'Forgot Password'
3. Enter the email and submit
4. See error

**Expected behavior**
Password Reset Request form should redirect to a server response page.
On submission reset password should re

[2021-02-26 18:22] MASTERCHIEF011 commented on #107
can you assign this to me pls.

[2021-02-26 18:38] MASTERCHIEF011 commented on #127
pls assign this to me if the issue is approved

[2021-02-27 04:53] #106 closed

[2021-02-27 05:10] #107 closed

[2021-02-27 05:24] YashKumarVerma opened #129 "Run tests on ever pull request"
**Is your feature request related to a problem? Please describe.**
devs need to run tests manually on every PR

**Describe the solution you'd like**
tests should run automatically on every PR

**Additional context**
few changes to GitHub actions can fix this

[2021-02-27 05:26] MASTERCHIEF011 commented on #129
pls assign this to me

[2021-02-27 05:52] #124 closed

[2021-02-27 09:58] YashKumarVerma commented on #45
open to claim and work.

[2021-02-27 17:13] MASTERCHIEF011 commented on #19
pls assign this to me

[2021-02-27 19:52] #69 closed

[2021-02-27 19:54] YashKumarVerma commented on #127
what is the meaning of `Password Reset Request form should redirect to a server response page.`?

[2021-02-27 20:24] MASTERCHIEF011 commented on #127
After submiting the email for password reset a page should load saying "Check you email for password reset link"

[2021-02-27 20:32] #129 closed

[2021-02-27 20:35] #119 closed

[2021-02-27 20:46] #127 closed

[2021-02-28 09:38] #120 closed

[2021-02-28 09:43] #108 closed

[2021-02-28 16:13] MASTERCHIEF011 opened #136 "Add styling to application cards"
Currently the application loads in cards with little to no styling.

[2021-02-28 16:30] MASTERCHIEF011 opened #138 "Add confirmation popup to the delete button"
**Is your feature request related to a problem? Please describe.**
Currently the application gets deleted immediately on clicking the delete button.
**Describe the solution you'd like**
A confirmation popup should appear which alerts the user whether they really want to delete the application or not thus preventing accidental deletion of the app by the user.

[2021-02-28 17:47] MASTERCHIEF011 opened #143 "Copy to clipboard button shows error on click"
**Describe the bug**
On clicking the copy to clipboard button the console shows an invalid or unexpected token error
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:5000/dashboard/dev'
2. Click on 'copy to clipboard button'
3. Open inspector tool
4. click on console tab
5. see error

**Expected behavior**
The function should copy the text to clipboard.

**Screenshots**

[2021-02-28 18:17] YashKumarVerma commented on #143
interesting find

[2021-02-28 18:18] #143 closed

[2021-02-28 18:21] #138 closed

[2021-02-28 18:23] #136 closed

[2021-02-28 18:28] #71 closed

[2021-02-28 18:28] #45 closed

[2021-02-28 18:30] #70 closed

[2021-02-28 18:34] #19 closed

[2021-02-28 18:34] #14 closed

[2021-02-28 18:34] #117 closed

[2021-03-01 02:08] MASTERCHIEF011 opened #145 "Error in build while starting server."
**Describe the bug**
There is an error in building the project while starting the server

**To Reproduce**
Steps to reproduce the behavior:
1. Run npm run start:dev
2. See the error

**ScreenShots**
![image](https://user-images.githubusercontent.com/54094722/109443656-1d7bc880-7a61-11eb-87e3-c37f728ab0c5.png)

[2021-03-01 02:23] MASTERCHIEF011 opened #147 "User controller test failing"
**Describe the bug**
The user controller test fails because of a function which is no longer available in it but is being tested.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. run "npm test"
3.see error

**Expected behavior**
All test should pass which is not the case

**Screenshots**
![image](https://user-images.githubusercontent.com/54094722/109444414-308f9800-7a63-11eb

[2021-03-01 02:36] #147 closed

[2021-03-01 02:41] YashKumarVerma commented on #145
has this been fixed in #148 ?

[2021-03-01 02:57] MASTERCHIEF011 commented on #145
no

[2021-03-01 02:59] MASTERCHIEF011 commented on #145
This issue has been fixed in #148

[2021-03-01 02:59] #145 closed

[2021-03-03 14:14] MASTERCHIEF011 commented on #112
can I work on this?

[2021-03-11 03:59] YashKumarVerma opened #149 "Cleanup, remove label workflow file"
the labels workflow file is no longer required, please remove it.

[2021-03-13 09:24] priyanshu20 commented on #149
@YashKumarVerma I added a PR but am unable to add you as a reviewer.

[2021-03-13 09:26] #149 closed

[2021-03-13 11:19] Aryaman1706 opened #152 "Error in start:dev script when installing packages via yarn."
**Describe the bug**
If packages are installed via yarn, `start:dev` script gives an error as depicted in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd uniauth-backend`
2. delete node_modules/ if any
3. run `yarn install`
4. run `yarn start:dev`

**Expected behavior**
The application should start on port 5000 as it does when `npm install` was run rather than `yarn insta

[2021-03-15 04:30] Aryaman1706 commented on #152
**Further details**
- Similar issue was addressed in official nestjs issues. Reference [here](https://github.com/nestjs/nest/issues/1609);
- Solution proposed which closed the issue is [here](https://github.com/nestjs/nest/issues/1609#issuecomment-470260547)

Also using npm instead of yarn would make dockerfile and local dev setup more consistent in terms of lock files.

**Screenshots**

- Using y

[2021-03-16 17:25] #112 closed

[2021-03-17 15:15] rajeshpanjiyar opened #154 "add contributors section in readme"
The ***contributors*** section is the best part of any readme. This issue is to add the contributor's section in the readme. It will add contributors' names automatically so no need to update this issue from time to time.
I am a participant in **GSSoC'21**. I request you to assign me this issue so that I can start working.

[2021-03-18 02:42] YashKumarVerma opened #155 "Add more tests for account.controller"
![https://i.imgur.com/Xzjsz5A.png](https://i.imgur.com/Xzjsz5A.png)

currently tests only check if the function is defined or not, use mocks (a jest feature) to ensure that correct services are being called.

[2021-03-18 02:44] YashKumarVerma opened #156 "Add more tests for application.controller.ts"
![https://i.imgur.com/oaXc6nk.png](https://i.imgur.com/oaXc6nk.png)

currently tests only check if the function is defined or not, use mocks (a jest feature) to ensure that correct services are being called.

[2021-03-18 02:44] YashKumarVerma opened #157 "Setup tests for Auth Controller."
![https://i.imgur.com/Kok6Yes.png](https://i.imgur.com/Kok6Yes.png)

Add tests so that we can ensure that this method works as expected.

[2021-03-18 02:45] YashKumarVerma opened #158 "Add more tests for Dashboard Controller"
![https://i.imgur.com/f17dOnh.png](https://i.imgur.com/f17dOnh.png)

[2021-03-18 02:47] YashKumarVerma opened #159 "Add more tests for mailer.controller.ts"
currently tests only check if the function is defined or not, use mocks (a jest feature) to ensure that correct services are being called.

![https://i.imgur.com/lSdbvId.png](https://i.imgur.com/lSdbvId.png)

[2021-03-18 02:48] YashKumarVerma opened #160 "Add more tests for user.controller.ts"
currently tests only check if the function is defined or not, use mocks (a jest feature) to ensure that correct services are being called.

![https://i.imgur.com/HYaNG0g.png](https://i.imgur.com/HYaNG0g.png)

[2021-03-18 02:59] YashKumarVerma opened #161 "Enhance UI of Profile Page"
The UI of the profile page does not align with the overall theme of the application, display the user details in a nice card format, and style the edit button.

![https://i.imgur.com/wMHiVeG.png](https://i.imgur.com/wMHiVeG.png)

[2021-03-18 03:00] YashKumarVerma opened #162 "Add Dashboard link to Edit Profile Page"
The UI of the edit profile page does not align with the overall style of the application.
- the header is missing, add the header

![https://i.imgur.com/WP3bB84.png](https://i.imgur.com/WP3bB84.png)

[2021-03-18 03:02] YashKumarVerma opened #163 "Center card in Edit Profile Page"
The UI of the edit profile page does not align with the overall style of the application.
- center the card
- improve the UI/UX of the edit card.

![https://i.imgur.com/WP3bB84.png](https://i.imgur.com/WP3bB84.png)

[2021-03-18 03:05] YashKumarVerma opened #164 "Unexpected Console.log in Application"
![https://i.imgur.com/CGO9Ubw.png](https://i.imgur.com/CGO9Ubw.png)

Trace from where are the redundant
` [dashboard] dashboard initialized` are being generated.

Also remove the console.log which is generating the `/home/yash/Desktop/files/works/projects/uniauth-backend/dist/src` line

[2021-03-18 03:07] YashKumarVerma opened #165 "Write logs to file"
The logs are being written to the console, but for them to be actually useful, we need them in a file so that they can be used later on.

Edit the logger configs to write the logs to file.

[2021-03-18 03:16] YashKumarVerma opened #166 "Fix method to check user participation in applications"
The method which is used to get the list of applications that have access to user data is located in `application.service.ts`, the method name is `findAllByParticipant(user:User`

![https://i.imgur.com/Q55BFfi.png](https://i.imgur.com/Q55BFfi.png)

This directly compares the object therefore it is not working.
[code]

Fix:
check if he user exists in the participants array and return the applicatio

[2021-03-18 03:30] YashKumarVerma opened #167 "Fix placement of delete button"
all of them should be in the same line, and the heading should not cover 100% of with width

![https://i.imgur.com/tR15sMv.png](https://i.imgur.com/tR15sMv.png)

[2021-03-18 03:32] YashKumarVerma opened #168 "Remove excess space in input areas"
remove the excess space towards the left of each input box

![https://i.imgur.com/ApO3UVd.png](https://i.imgur.com/ApO3UVd.png)

[2021-03-18 03:40] YashKumarVerma opened #169 "Add logo to navbar in application details"
![https://i.imgur.com/oevkpk8.png](https://i.imgur.com/oevkpk8.png)
- Add application logo in navbar

[2021-03-18 03:52] YashKumarVerma opened #170 "Show each user as a table row in application details page"
Currently, this is how the page looks. It is not what we expect it to be.

Change the template file to display a table with nice UI, with each user taking a row in it.

[2021-03-18 04:01] Saumya008 commented on #169
Hi,
I would like to contribute to this project as GSSOC'21 participant. Please assign this issue to me.
Thanks.

[2021-03-18 04:07] Saumya008 commented on #161
Hey, I would like to work on this issue.
(under GSSOC'21).

[2021-03-18 04:11] Saumya008 commented on #167
I would like to work on this. Please assign it to me.

[2021-03-18 04:17] jnatishay78 commented on #163
I would like to work on this. Please assign it to me.

[2021-03-18 04:18] jnatishay78 commented on #162
I would like to work on this. Please assign it to me.

[2021-03-18 04:19] jnatishay78 commented on #168
I would like to work on this. Please assign it to me.

[2021-03-18 04:27] vismitap commented on #168
I would like to work on this as a part of GSSoC'21. Please assign this to me! 😇

[2021-03-18 04:28] vismitap commented on #163
I would like to work on this as a part of GSSoC!

[2021-03-18 04:30] vismitap commented on #165
I have never done this so I would like to try this issue. Please assign this to me as a part of GSSoC! ✌

[2021-03-18 04:42] aniketbiswas21 commented on #166
I would like to work on this.

[2021-03-18 04:45] hardik7e commented on #164
I would like to work on this issue.

[2021-03-18 04:56] promaroy commented on #170
Can I work on this as a part of GSSOC '21?

[2021-03-18 05:09] YashKumarVerma commented on #163
@vismitap sorry but I'm assigning issues on First come basis, feel free to pick the others

[2021-03-18 05:11] YashKumarVerma commented on #168
@jnatishay78 i'm assigning you #162 , and giving this one to @vismitap

[2021-03-18 05:13] YashKumarVerma commented on #169
@Saumya008 you're already assigned two issues, lets fix those before assigning more 😄

[2021-03-18 05:23] Harshpatel2222 commented on #169
@YashKumarVerma  I would like to fix this can you assign this issue to me?

[2021-03-18 05:25] EANimesha commented on #169
I'm a GSSOC'21 participant. can I contribute to this issue?

[2021-03-18 05:51] YashKumarVerma commented on #169
we're assigning issues first come first serve, please check out other repos [here](https://github.com/UniAuth?type=source) for more issues

[2021-03-18 06:00] EANimesha commented on #160
I'm gssoc participant. Can I try this issue?

[2021-03-18 07:49] promaroy commented on #170
Can you please explain what details are to be displayed here for each user?

[2021-03-18 08:43] YashKumarVerma commented on #170
the function returns an object of user details, just like the name (because that's always there) and list down other properties.

[2021-03-18 10:32] #166 closed

[2021-03-18 10:34] YashKumarVerma opened #172 "Create UI for My Data Page"
currently, the page looks like this:

![https://i.imgur.com/HPotqg7.png](https://i.imgur.com/HPotqg7.png).

Show each application in a card format.

[2021-03-18 15:18] sk1122 commented on #172
I can work on it @YashKumarVerma

[2021-03-20 07:11] YashKumarVerma commented on #172
requesting updates. Is there anything we can help you with?

[2021-03-20 07:11] YashKumarVerma commented on #170
requesting updates. Is there anything we can help you with?

[2021-03-20 07:11] YashKumarVerma commented on #160
requesting updates. Is there anything we can help you with?

[2021-03-20 07:12] YashKumarVerma commented on #169
requesting updates @Harshpatel2222 . Is there anything we can help you with?

[2021-03-20 07:12] YashKumarVerma commented on #164
requesting updates. Is there anything we can help you with?

@hardik7e

[2021-03-20 07:12] YashKumarVerma commented on #165
requesting updates. Is there anything we can help you with?

@vismitap

[2021-03-20 07:12] YashKumarVerma commented on #163
requesting updates. Is there anything we can help you with?

@jnatishay78

[2021-03-20 07:12] YashKumarVerma commented on #168
requesting updates. Is there anything we can help you with?

@vismitap

[2021-03-20 07:12] YashKumarVerma commented on #162
requesting updates. Is there anything we can help you with?

@jnatishay78

[2021-03-20 07:13] YashKumarVerma commented on #167
requesting updates. Is there anything we can help you with?

@Saumya008

[2021-03-20 07:13] YashKumarVerma commented on #161
requesting updates. Is there anything we can help you with?

@Saumya008

[2021-03-20 07:30] vismitap commented on #168
Working on it rn. Will make a PR by today night or tomorrow. If any doubts, I will ask you on discord. Thanks✌

[2021-03-20 07:31] vismitap commented on #165
Will raise a PR today at night. Working on it now. ✌

[2021-03-20 08:13] sk1122 commented on #172
@YashKumarVerma I am on it, i will let you know if i need any help

[2021-03-20 09:45] hardik7e commented on #164
will update you by today evening

[2021-03-20 18:14] YashKumarVerma opened #175 "Remove rule of description being of minumum 15 characters long"
https://github.com/UniAuth/uniauth-backend/blob/d77e794abf646c654ece79da974e262cad10aa69/src/application/dto/create-application.dto.ts#L21-L24

[2021-03-21 04:12] aniketbiswas21 commented on #175
I would like to work on this.

[2021-03-21 05:09] #161 closed

[2021-03-21 13:39] #167 closed

[2021-03-21 18:19] #162 closed

[2021-03-22 08:46] vismitap commented on #168
![image](https://user-images.githubusercontent.com/47056243/111962963-00df2780-8b19-11eb-867e-7302facd66f2.png)
I am getting this error. Tried to contact on discord but don't have permission to post image there.

[2021-03-22 14:09] #175 closed

[2021-03-22 14:10] YashKumarVerma commented on #168
this issue is fixed in #179, it's because the description length was minimum 15 characters. this condition is now removed.

so you can update your fork, or just remove one line (check 179 to know which), or have a description more than 15 characters long

[2021-03-23 02:14] Sukriti-sood commented on #159
@YashKumarVerma  I would like to work on this ,but I have not implemented tests , I will need help

[2021-03-23 02:51] YashKumarVerma commented on #159
feel free to ask if you're stuck. Checking tests for other modules can help.

[2021-03-23 04:02] jnatishay78 commented on #163
will u merge it now ?

[2021-03-23 07:39] YashKumarVerma commented on #163
the PR is already merged.

[2021-03-23 07:39] #163 closed

[2021-03-23 12:37] sk1122 commented on #172
I have created a Sample Design.
See if it is right
![Uniauth](https://user-images.githubusercontent.com/40713709/112147339-986c7500-8c02-11eb-93c9-c00dfbd32a7f.png)

[2021-03-23 12:39] YashKumarVerma commented on #172
Looks dope ! Good work !

[2021-03-23 12:55] sk1122 commented on #172
@YashKumarVerma Should I commit?

[2021-03-23 13:01] YashKumarVerma commented on #172
sure, send a pr @sk1122

[2021-03-24 11:27] #168 closed

[2021-03-24 12:02] #172 closed

[2021-03-24 12:28] YashKumarVerma commented on #152
first of all apologies for the delay. I was stuck in exams so needed time to debug this myself.

I tried doing everything on a fresh ubuntu VM (a complete cast attached at end of this), but could not reproduce the issue. The npm and node versions are the same.

[![asciicast](https://asciinema.org/a/402006.svg)](https://asciinema.org/a/402006)

[2021-03-24 12:40] YashKumarVerma commented on #169
@EANimesha @Saumya008 this issue is free right now. Any one of you wish to work on this ?

[2021-03-24 12:40] YashKumarVerma commented on #164
@hardik7e requesting updates.

[2021-03-24 12:41] YashKumarVerma commented on #165
@vismitap requesting updates

[2021-03-24 12:42] YashKumarVerma commented on #170
removing assignment due to inactivity.

[2021-03-24 12:46] vismitap commented on #165
Sorry had my exams in between so could not complete this. Doing it rn!

[2021-03-24 13:01] Saumya008 commented on #169
yeah sure please assign it to me.

[2021-03-24 16:28] jnatishay78 commented on #163
Sir is there any issue left on which I can work?
I will be very glad to work on more issues with you.

[2021-03-24 17:23] YashKumarVerma commented on #163
@jnatishay78 the list of open issues is available [here](https://github.com/UniAuth/uniauth-backend/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+no%3Aassignee)

[2021-03-27 03:20] hardik7e commented on #164
I am really sorry but i am unable to give time, can you please unassigne this to me. Sorry for the inconveniences

[2021-03-27 07:55] Sukriti-sood commented on #159
@YashKumarVerma  currently there is not any function in mailer.controller.ts ,so what to test? if I am interpreting it wrong please explain me as I never use nest before,
Thank you

[2021-03-31 18:57] YashKumarVerma commented on #165
These reference might help you start off:
- https://stackoverflow.com/questions/58121749/nestjs-logging-into-file-database-etc-using-either-default-logger-or-npm-like
- https://github.com/nestjs/nest/issues/1299

[2021-04-04 11:43] sk1122 commented on #170
Hello @YashKumarVerma, I would love to work on this

[2021-04-07 05:31] aniketbiswas21 commented on #165
@YashKumarVerma Is this issue still being worked upon? If not, can I work on this?

[2021-04-07 05:52] YashKumarVerma commented on #165
Please do

[2021-04-09 08:48] #169 closed

[2021-04-09 08:49] YashKumarVerma commented on #154
Not required as Github shows a list to the side by itself.

[2021-04-09 08:49] #154 closed

[2021-04-10 10:22] khareyash05 opened #206 "add contributing.md"
Hi! I would like to create a file contributing.md add the following -
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-14 05:41] #165 closed

[2021-04-17 05:37] aniketbiswas21 commented on #160
@YashKumarVerma I am having trouble implementing this. Can you help me out?

[code]

I did this, but I am getting `Cannot spyOn on a primitive value; undefined given`. Can you help me out?

I also declared the service above(similar to how controller have been declared)
`let service: UserService;`

[2021-04-18 06:46] YashKumarVerma commented on #160
Sorry @aniketbiswas21 I won't be able to help you out on this week. I'm writing my exams and kinda stuck there.

[2021-04-18 07:06] aniketbiswas21 commented on #160
Ok bhaiya :pleading_face:

All the best!

[2021-04-21 07:27] aniketbiswas21 commented on #160
@YashKumarVerma Bhaiya, do let me know, when you are free :pleading_face:

I am not able to figure this out :cry:

[2021-04-21 13:52] YashKumarVerma commented on #160
I'll be able to work on anything only after Saturday

[2021-04-28 02:48] aniketbiswas21 commented on #160
@YashKumarVerma Can you help me out with this? :sweat:

[2021-05-05 07:26] aniketbiswas21 commented on #160
@YashKumarVerma Bhaiya, can you provide me with an example? Rest, I would be able to do.

Thanks!

[2021-05-30 15:05] #206 closed

[2021-09-19 20:28] peppelinux opened #333 "my project is also called uniAuth!"
Hi, did you already check that this name was free?

https://github.com/UniversitaDellaCalabria/uniAuth

:)

[2022-03-03 05:28] BashCache opened #386 "Email for verification"
Hi,
As mentioned in the README docs, there is no email integration for verification. Please let me know if I can work on this issue. Thanks :)

[2022-03-04 12:44] mdabdulshahed commented on #164
I am interested in fixing this issue

[2022-03-05 09:51] mdabdulshahed commented on #164
i have figured out "dashboard initialized" verbose logging traces, and removed console.log generating directory name, if you assign me I will raise a pr

[2022-05-21 16:51] Raaghav4243 commented on #170
Hi
Please assign this issue to me, Reference: gssoc'22